<% include partials/header %>
<h1><%=church.name%></h1>

<img src="<%=church.image%>">

<p><%=church.founder%></p>
<p><%-church.date%></p>
<p><%=church.GOS%></p>
<p><%=church.netWorth%></p>
<p><%=church.population%></p>


<% include partials/footer %>